.ip-lookup-controller {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}
.input-row__status {
  margin-left: 8px;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
}
.input__container{
  width:70%;
}

.success {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
