.ip-lookup-controller {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.input-row__status {
  margin-left: 8px;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
}
.input__container{
  width:70%;
}
.spin { animation: spin 1s linear infinite; }

.success {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

@keyframes spin { to { transform: rotate(360deg); } }
