.header {
  text-align: left;
}

.header__title {
  margin: 0.5rem 0 0 0 ;
  font-size: 1rem;
}

.header__subtitle {
  margin-top: 4px;
  color: #666;
}
.header__divider {
  border: none;
  border-top: 1px solid #eee;
  margin: 12px 0;
}