.page {
  max-width: 600px;
  margin: 40px auto;
  padding: 0 16px;
}

.page__content {
  margin-top: 12px;
  margin-left: 6px;
}

.page__divider {
  border: none;
  border-top: 1px solid #eee;
}
.stick {
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 1rem;
}